/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7f8;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilizando o formulário */
form {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
}

input[type="radio"] {
    margin-right: 8px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

select {
    background-color: #fff;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilizando grupos de botões de opção */
input[type="radio"] + label {
    display: inline;
    font-size: 1rem;
    color: #333;
    margin-right: 20px;
}

/* Estilos de mensagem de sucesso */
.success-message {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }
}